<!DOCTYPE html>
<head>
    <title>Festival</title>
    <link rel="stylesheet" href="css/details.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/post.css">
</head>
<body>
<div class="div-body">
    <%- include('header'); -%>
    <div class="background">
        <img src="imgs/login-page.png"/>
    </div>
    <div class="main-body">
        <div class="section" id="s1">
            <div class="eventsContainer">
                <div class="event_name"><h1>FESTIVAL</h1></div>
                <div class="event_picture"><img src="imgs/festival.jpg"></div>
                <div class="event_details">
                    <h2>DESCRIPTION</h2>
                    <p>A festival is an event ordinarily celebrated by a community and centering on some characteristic aspect of that community and its religion or cultures. It is often marked as a local or national holiday, mela, or eid.</p>

                    <br><br>

                    <h2>REQUIREMENTS</h2>
                    <p>Casual attire</p>
                </div>
            </div>
        </div>
        <div class="section" id="s2">
            <div class="postContainer">
                <div class="post-section" id="create-sec">
                    <div class="user-post-container">
                        <form action="/festivalpost" method="post">
                            <h3>CREATE A POST</h3>
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" placeholder="What's the title?" required>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" rows="5" placeholder="What's on your mind?"></textarea>
                            <button type="submit" id="postBtn">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="post-section" id="nav-sec">
                <!--------------------------- POST NAVBAR --------------------------->
                    <div class="post-filter container">
                        <span class="filter-item active-filter" data-filter='all'>All</span>           
                        <span class="filter-item" data-filter='posts'>Posts</span>
                        <span class="filter-item" data-filter='reviews'>Reviews</span>
                        <span class="filter-item" data-filter='groups'>Groups</span>
                    </div>
                </div>
                <div class="post-section" id="posting">
                        <!-- Posts -->
                        <section class="post-container">

                            <% festivals.forEach(function(post){ %>
                            <!-- USER POSTING TEMPLATE -->
                            <div class="post-box posts">
                                <h2 class="category">Posts</h2>
                                
                                <a href="post-page.html" class="post-title">
                                    <%=post.title%>
                                </a>
                                <p class="post-description"><%=post.description%></p>
                                
                                <!-- Profile -->
                                <div class="profile">
                                    <a href="#"> <img src="imgs/PostPic.png" alt="" class="profile-img"></a>
                                    <a href="#" class="profile-name"><%=post.username%></a>
                                </div>
                                <span class="post-date"><%=post.date%></span>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
    </div>
    <%- include('footer'); -%>
</div>
<!-- Link to js -->
<script type="text/javascript" src="js/post.js"></script>
<!-- BODY END -->
</body>
</html>