<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="css/forms.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/post.css">
</head>
<body>
    <div class="div-body">
        <%- include('header'); -%>
        <div class="background">
            <img src="imgs/login-page.png" class="background"/>
        </div>
        <div class="main-body">
            <div class="form_page">
                <div class="user-post-container">
                    <form action="/posts" method="post">
                        <h3>CREATE A POST</h3>
                        <div class="dropbox">
                            <div class="location-drop">
                                <select class="location" name="location" maxlength="45" required>
                                    <option value=""> -LOCATION- </option>
                                    <% for (let i=0; i<post1.length; i++){ %>
                                    <option value="<%= post1[i].name %>"><%= post1[i].name %></option>
                                    <% }; %>
                                </select>
                            </div>  
                            <div class="event-drop">
                                <select class="event" name="event" maxlength="45" required>
                                    <option value=""> -EVENT- </option>
                                    <% for (let i=0; i<post2.length; i++){ %>
                                    <option value="<%= post2[i].name %>"><%= post2[i].name %></option>
                                    <% }; %>
                                </select>
                            </div> 
                        </div>
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" placeholder="What's the title?" maxlength="45" required>
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="5" placeholder="What's on your mind?" maxlength="300" required></textarea>
                        <button type="submit" id="postBtn">Submit</button>
                    </form>
                </div>         
            </div>
            <div class="section" id="s2">
                <div class="postContainer">
                    <div class="post-section" id="posting">
                        <!-- Posts -->
                        <section class="post-container">
                            <% post3.forEach(function(post){ %>
                            <!-- USER POSTING TEMPLATE -->
                            <div class="post-box posts">
                                <h2 class="category">Posts</h2>
                                
                                <a class="post-event"><%=post.event%></a>
                                <br>
                                <a class="post-location"><%=post.location%></a>
                                <br>
                                <br>
                                <a class="post-title"><%=post.title%></a>

                                <p class="post-description"><%=post.description%></p>

                                <!-- Profile -->
                                <div class="profile">
                                    <a href="#"> <img src="imgs/PostPic.png" alt="" class="profile-img"></a>
                                    <a href="#" class="profile-name"><%=post.username%></a>
                                </div>
                                <span class="post-date"><%=post.date%></span>
                                <% if(userLog == post.username){ %>
                                <a href="deletePost/<%= post.id %>">Delete</a>
                                <% } %>
                            </div>
                            <% }); %>
                        </section>
                    </div>
                </div>
            </div>
        </div>  
    <%- include('footer'); -%>
    </div>
</body>
</html>